In [1]:
import pandas as pd

## Reading the data

In [129]:
df = pd.read_csv('fifa21 raw data v2.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

C:\Users\jc\AppData\Local\Temp\ipykernel_8304\3761449990.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('fifa21 raw data v2.csv')

In [3]:
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [5]:
df.describe(include = 'object')

,Name,LongName,photoUrl,playerUrl,Nationality,Club,Contract,Positions,Height,Weight,...,Loan Date End,Value,Wage,Release Clause,W/F,SM,A/W,D/W,IR,Hits
count,18979,18979,18979,18979,18979,18979,18979,18979,18979,18979,...,1013,18979,18979,18979,18979,18979,18979,18979,18979,16384
unique,17920,18852,18979,18979,164,682,131,640,62,79,...,24,255,134,1216,5,5,3,3,5,450
top,J. Rodríguez,Danny Rose,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,England,No Club,2019 ~ 2021,CB,180cm,70kg,...,"Jun 30, 2021",€1.2M,€2K,€0,3 ★,2★,Medium,Medium,1 ★,1
freq,13,3,1,1,1705,237,1706,2441,1474,1495,...,770,582,2899,1261,11695,9142,12701,13956,17629,2325

## Convert Joined column to proper datetime dtype

In [7]:
df['Joined'].value_counts()

Joined
Jul 1, 2019     1344
Jul 1, 2018      865
Jan 1, 2019      682
Jul 1, 2017      520
Jul 1, 2020      435
                ...
May 17, 2018       1
Jun 1, 2005        1
Mar 29, 2015       1
Feb 19, 2018       1
Mar 6, 2018        1
Name: count, Length: 1869, dtype: int64

In [84]:
df['Joined'] = pd.to_datetime(df['Joined'])

df['Joined'].head

# df['Joined'].isnull().sum()

<bound method NDFrame.head of 0       2004-07-01
1       2018-07-10
2       2014-07-16
3       2015-08-30
4       2017-08-03
           ...
18974   2018-07-13
18975   2020-08-01
18976   2019-03-08
18977   2020-09-22
18978   2019-07-29
Name: Joined, Length: 18979, dtype: datetime64[ns]>

## Fix Height Values

In [23]:
df['Height'].value_counts()

# df['Height'].isnull().sum()

Height
180cm    1474
178cm    1250
185cm    1182
183cm    1148
175cm    1091
         ...
6'5"        1
157cm       1
5'4"        1
5'6"        1
155cm       1
Name: count, Length: 62, dtype: int64

In [130]:
import re

def convert_to_cm(height):
    
#     retain cm values
    if "cm" in height:
        cm = re.findall(r'\d+', height)
        return str(cm[0])
    
    feet, inches = re.findall(r'\d+', height)
    
#     Convert feet and inches to cm
    feet_to_cm = int(feet) * 30.48
    inches_to_cm = int(inches) * 2.54
    
    return str(round(feet_to_cm + inches_to_cm,0))

df['Height'] = df['Height'].apply(convert_to_cm)

df['Height'] = df['Height'].str.replace('cm','')
# df['Height'] = pd.to_numeric(df['Height'])
df['Height'].head

<bound method NDFrame.head of 0        170
1        187
2        188
3        181
4        175
        ...
18974    178
18975    175
18976    179
18977    175
18978    188
Name: Height, Length: 18979, dtype: object>

In [148]:
df['Height'] = pd.to_numeric(df['Height'])

print(df['Height'].head())
print(df['Height'].isnull().sum())

0    170.0
1    187.0
2    188.0
3    181.0
4    175.0
Name: Height, dtype: float64
0

## Fix Weight Values

In [86]:
# df['Weight'].isnull().sum()
df['Weight'].value_counts()

Weight
70kg      1495
75kg      1457
80kg      1108
72kg      1022
78kg       991
          ...
190lbs       1
130lbs       1
146lbs       1
203lbs       1
157lbs       1
Name: count, Length: 79, dtype: int64

In [131]:
def convert_to_kg(weight):
    if "lbs" in weight:
        pounds = re.findall(r'\d+', weight)
        pounds = int(pounds[0])
        kg = pounds * 0.45359237
        return round(kg, 0)
    else:
        return weight

df['Weight'] = df['Weight'].apply(convert_to_kg)

df['Weight'] = df['Weight'].str.replace('kg','')
df['Weight'].head

<bound method NDFrame.head of 0        72
1        83
2        87
3        70
4        68
         ..
18974    66
18975    65
18976    74
18977    69
18978    75
Name: Weight, Length: 18979, dtype: object>

In [149]:
df['Weight'] = pd.to_numeric(df['Weight'])

print(df['Weight'].head())
print(df['Weight'].isnull().sum())

0    72.0
1    83.0
2    87.0
3    70.0
4    68.0
Name: Weight, dtype: float64
40

## Fix values in Club Column

In [151]:
df['Club'].head()

0           \n\n\n\nFC Barcelona
1               \n\n\n\nJuventus
2        \n\n\n\nAtlético Madrid
3        \n\n\n\nManchester City
4    \n\n\n\nParis Saint-Germain
Name: Club, dtype: object

In [157]:
df['Club'] = df['Club'].str.replace('\n','')
df['Club'].value_counts()

Club
No Club                   237
FC Barcelona               33
Burnley                    33
RC Celta                   33
Torino                     33
                         ...
Melbourne Victory          18
Brisbane Roar              18
Adelaide United            18
Perth Glory                18
Central Coast Mariners     18
Name: count, Length: 682, dtype: int64

In [158]:
df['Contract'].value_counts()

Contract
2019 ~ 2021            1706
2020 ~ 2022            1445
2020 ~ 2021            1440
2019 ~ 2022            1236
2018 ~ 2021            1163
                       ...
Jul 5, 2021 On Loan       1
2006 ~ 2024               1
2020 ~ 2026               1
2010 ~ 2025               1
Aug 1, 2021 On Loan       1
Name: count, Length: 131, dtype: int64